.home {
	.site-inner {
		padding-top: 0;
		max-width: 100%;
	}
}

#homepage-top,
#news-blog, 
#homepage-bottom {
	.widget-title {
		text-transform: uppercase;
	}
}

#news-blog,
#homepage-bottom {
	background: #fff;
}


/* Home Page Top
--------------------------------------------- */
#homepage-top {
	display: table;
	height: 420px;
	text-align: center;
	width: 100%;
	
	.wrap {
		display: table-cell;
		text-align: center;
		vertical-align: middle;
	}
}

/* News & Blog
--------------------------------------------- */
#news-blog {
	padding: 30px 0 10px;
	
	.widget-title {
		font-size: 35px;
	}
}

/* Home Page Bottom
--------------------------------------------- */
#homepage-bottom {
	.widget-title {
		font-size: 25px;
	}
}