//--------------------------------------------------------------
// Variables
//--------------------------------------------------------------

// Colors
$color-site-bg:      #f5f5f5;
$color-font:         #000000;
$color-link:         #761579;
$color-link-visited: $color-link;
$color-link-hover:   #000000;
$color-purple:       #761579;

// Fonts
$font-sans:  Lato, sans-serif;
$font-sans:  Open Sans, sans-serif;
$font-two:   Nunito, sans-serif;
$font-serif: Georgia, Times, "Times New Roman", serif;
$font-mono:  "Courier 10 Pitch", Courier, monospace;
