.widget {
	word-wrap: break-word;

	ol > li {
		list-style-position: inside;
		list-style-type: decimal;
		padding-left: 20px;
		text-indent: -20px;
	}

	li li {
		border: 0;
		margin: 0 0 0 30px;
		padding: 0;
	}
}

.widget_calendar table {
	width: 100%;

	td,
	th {
		text-align: center;
	}
}

/* Featured Content
--------------------------------------------- */

.featured-content .entry {
	margin-bottom: 20px;
	padding: 0 0 24px;
}

.footer-widgets .entry {
	border-bottom: 1px dotted #666;
}

.featured-content .entry-title {
	font-size: 20px;
}

/* Offers in Price Page
--------------------------------------------- */
.offers {
	background: $color-purple;
	box-shadow: 0 0 0 7px rgba(118, 21, 121, .8);
	padding: 20px;
	
	p {
		margin: 0 0 10px;
	}
	
	p, h2, h3, h4, h5, h6 {
		color: #fff;
	}
	
	h2, h3, h4, h5, h6 {
		border-bottom: 1px solid #fff;
		width: 500px;
	}
}